In [12]:
import numpy as np
import pandas as pd
import pprint
pp = pprint.PrettyPrinter(indent=4)

pd.set_option("display.precision", 3)

# some imports to set up plotting
import matplotlib.pyplot as plt

# !pip install seaborn
import seaborn as sns

# import some nice vis settings
sns.set()
# Graphics in the Retina format are more sharp and legible
%config InlineBackend.figure_format = 'retina'

In [14]:
DATA_URL = "./data/"
df = pd.read_csv(DATA_URL + "adult_data.csv")
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

How many men and women (sex feature) are represented in this dataset?

In [15]:
df["sex"].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

In [16]:
df["sex"].value_counts(normalize=True)

Male      0.669
Female    0.331
Name: sex, dtype: float64

 What is the average age (age feature) of women?

In [17]:
df[df["sex"] == 'Female']["age"].mean()

36.85823043357163

What is the percentage of German citizens (native-country feature)?

In [18]:
df["native-country"].value_counts(normalize=True)

United-States                 8.959e-01
Mexico                        1.975e-02
?                             1.790e-02
Philippines                   6.081e-03
Germany                       4.207e-03
Canada                        3.716e-03
Puerto-Rico                   3.501e-03
El-Salvador                   3.255e-03
India                         3.071e-03
Cuba                          2.918e-03
England                       2.764e-03
Jamaica                       2.488e-03
South                         2.457e-03
China                         2.303e-03
Italy                         2.242e-03
Dominican-Republic            2.150e-03
Vietnam                       2.058e-03
Guatemala                     1.966e-03
Japan                         1.904e-03
Poland                        1.843e-03
Columbia                      1.812e-03
Taiwan                        1.566e-03
Haiti                         1.351e-03
Iran                          1.321e-03
Portugal                      1.136e-03
Nicaragua                     1.044e-03
Peru                          9.521e-04
France                        8.906e-04
Greece                        8.906e-04
Ecuador                       8.599e-04
Ireland                       7.371e-04
Hong                          6.142e-04
Cambodia                      5.835e-04
Trinadad&Tobago               5.835e-04
Laos                          5.528e-04
Thailand                      5.528e-04
Yugoslavia                    4.914e-04
Outlying-US(Guam-USVI-etc)    4.300e-04
Honduras                      3.993e-04
Hungary                       3.993e-04
Scotland                      3.685e-04
Holand-Netherlands            3.071e-05
Name: native-country, dtype: float64

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [46]:
shape = df.shape

In [48]:
((df["native-country"] == 'Germany').sum() / shape[0])*100

0.42074874850281013

What are the mean and standard deviation of age for those who earn more than 50K per year (salary feature) and those who earn less than 50K per year?

In [49]:
columns_to_show =["age"]
df.groupby(['salary'])[columns_to_show].agg([np.mean, np.std])

           age
          mean     std
salary
<=50K   36.784  14.020
>50K    44.250  10.519