In [61]:
import numpy as np
import pandas as pd
import pprint
pp = pprint.PrettyPrinter(indent=4)

pd.set_option("display.precision", 2)

# some imports to set up plotting
import matplotlib.pyplot as plt

# !pip install seaborn
import seaborn as sns

# import some nice vis settings
sns.set()
# Graphics in the Retina format are more sharp and legible
%config InlineBackend.figure_format = 'retina'

In [14]:
DATA_URL = "./data/"
df = pd.read_csv(DATA_URL + "adult_data.csv")
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

How many men and women (sex feature) are represented in this dataset?

In [15]:
df["sex"].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

In [16]:
df["sex"].value_counts(normalize=True)

Male      0.669
Female    0.331
Name: sex, dtype: float64

 What is the average age (age feature) of women?

In [17]:
df[df["sex"] == 'Female']["age"].mean()

36.85823043357163

What is the percentage of German citizens (native-country feature)?

In [18]:
df["native-country"].value_counts(normalize=True)

United-States                 8.959e-01
Mexico                        1.975e-02
?                             1.790e-02
Philippines                   6.081e-03
Germany                       4.207e-03
Canada                        3.716e-03
Puerto-Rico                   3.501e-03
El-Salvador                   3.255e-03
India                         3.071e-03
Cuba                          2.918e-03
England                       2.764e-03
Jamaica                       2.488e-03
South                         2.457e-03
China                         2.303e-03
Italy                         2.242e-03
Dominican-Republic            2.150e-03
Vietnam                       2.058e-03
Guatemala                     1.966e-03
Japan                         1.904e-03
Poland                        1.843e-03
Columbia                      1.812e-03
Taiwan                        1.566e-03
Haiti                         1.351e-03
Iran                          1.321e-03
Portugal                      1.136e-03
Nicaragua                     1.044e-03
Peru                          9.521e-04
France                        8.906e-04
Greece                        8.906e-04
Ecuador                       8.599e-04
Ireland                       7.371e-04
Hong                          6.142e-04
Cambodia                      5.835e-04
Trinadad&Tobago               5.835e-04
Laos                          5.528e-04
Thailand                      5.528e-04
Yugoslavia                    4.914e-04
Outlying-US(Guam-USVI-etc)    4.300e-04
Honduras                      3.993e-04
Hungary                       3.993e-04
Scotland                      3.685e-04
Holand-Netherlands            3.071e-05
Name: native-country, dtype: float64

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [46]:
shape = df.shape

In [48]:
((df["native-country"] == 'Germany').sum() / shape[0])*100

0.42074874850281013

What are the mean and standard deviation of age for those who earn more than 50K per year (salary feature) and those who earn less than 50K per year?

In [49]:
columns_to_show =["age"]
df.groupby(['salary'])[columns_to_show].agg([np.mean, np.std])

           age
          mean     std
salary
<=50K   36.784  14.020
>50K    44.250  10.519

Is it true that people who earn more than 50K have at least high school education? (education â€“ Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate feature)

In [53]:
df[df["salary"] == ">50K"]["education"].value_counts()

Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: education, dtype: int64

In [54]:
df[df["salary"] == ">50K"]["education"].unique()  # No

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th',
       '10th', '11th', '9th', '5th-6th', '1st-4th'], dtype=object)

Display age statistics for each race (race feature) and each gender (sex feature).

In [55]:
columns_to_show =["age"]
df.groupby(["race", "sex"])[columns_to_show].describe()

                               age                                           \
                             count    mean     std   min   25%   50%    75%
race               sex
Amer-Indian-Eskimo Female    119.0  37.118  13.115  17.0  27.0  36.0  46.00
                   Male      192.0  37.208  12.050  17.0  28.0  35.0  45.00
Asian-Pac-Islander Female    346.0  35.090  12.301  17.0  25.0  33.0  43.75
                   Male      693.0  39.074  12.884  18.0  29.0  37.0  46.00
Black              Female   1555.0  37.854  12.637  17.0  28.0  37.0  46.00
                   Male     1569.0  37.683  12.883  17.0  27.0  36.0  46.00
Other              Female    109.0  31.679  11.632  17.0  23.0  29.0  39.00
                   Male      162.0  34.654  11.356  17.0  26.0  32.0  42.00
White              Female   8642.0  36.812  14.329  17.0  25.0  35.0  46.00
                   Male    19174.0  39.652  13.436  17.0  29.0  38.0  49.00


                            max
race               sex
Amer-Indian-Eskimo Female  80.0
                   Male    82.0
Asian-Pac-Islander Female  75.0
                   Male    90.0
Black              Female  90.0
                   Male    90.0
Other              Female  74.0
                   Male    77.0
White              Female  90.0
                   Male    90.0

Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (marital-status feature)?

In [62]:
df_male = df[df["sex"] == "Male"]

pd.crosstab(df_male["salary"], df_male["marital-status"], normalize=True)

marital-status,Divorced,Married-AF-spouse,Married-civ-spouse,Married-spouse-absent,Never-married,Separated,Widowed
salary,,,,,,,
<=50K,0.07,2.29e-04,0.34,8.72e-03,0.26,1.58e-02,5.92e-03
>50K,0.01,1.84e-04,0.27,1.06e-03,0.01,2.25e-03,1.79e-03

In [63]:
# married men
df[(df["sex"] == "Male")
     & (df["marital-status"].str.startswith("Married"))][
    "salary"
].value_counts(normalize=True)

<=50K    0.56
>50K     0.44
Name: salary, dtype: float64

In [64]:
# single men
df[
    (df["sex"] == "Male")
    & ~(df["marital-status"].str.startswith("Married"))
]["salary"].value_counts(normalize=True)

<=50K    0.92
>50K     0.08
Name: salary, dtype: float64

Better to be married :)